<%= form_tag ("/sessions") do %>

  <br>
  <p>
    <%= label_tag :name, "Name:" %><br>
    <%= collection_select :user, :name, User.all, :name, :name, prompt: "Please select your username from this dropdown menu:" %>
  </p>

  <p>
    <%= label_tag :password, "Your password:" %><br>
    <%= password_field_tag :password %>
  </p>

  <br>
  <%= submit_tag "Sign In" %>

  <% end %>
