<% if @notice %>
  <div class="center alert">
    <p><%= @notice %></p>
  </div>
<% end %>

<div class="info">
  <b>Name:</b> <%= @user.name %><br>
  <b>Mood:</b> <%= @user.mood %><br>
  <b>Tickets:</b> <%= @user.tickets %><br>
  <b>Height:</b> <%= @user.height %>

  <% if @user.admin %>
      <p><strong>ADMIN</strong></p>
  <% end %>

  <p><%= link_to "See attractions", attractions_path %></p>

  <p><%= link_to "Log Out", logout_path %></p>
</div>
